<article>
	<h3><%= question.description %></h3>

	<p><%= question.background %></p>
	
	<div class="answers">
		<%= render :partial => "question_answering_alternatives/radiobuttonlist_form", :collection => question.question_answering_alternatives, :as => :question_answering_alternative %>
	</div>
	
</article>