<div class="question textarea">
	<h3><%= question.description %></h3>

	<p><%= question.background %></p>
	
	<div class="answer">
		<%= text_area("answer", "content", :cols => 60, :rows => 8) %>
	</div>
	
</div>