<div class="answering_alternative">
		<%= radio_button("question_answering_alternative", "answer", question_answering_alternative.content) %>
    <label><%= question_answering_alternative.content %></label>
</div>
