<div class="answering_alternative">
	<label>
		<%= radio_button("question_answering_alternative", "answer", question_answering_alternative.content) %><%= question_answering_alternative.content %>
	</label>
</div>